/server/node_modules
/server/package-lock.json
/server/.env
/servercopy/node_modules
/servercopy/package-lock.json
/servercopy/.env
/client/node_modules
/client/.env
/clientcopy/node_modules
/clientcopy/.env
/.vscode
/.idea
/.DS_Store
/server/.DS_Store
/client/.DS_Store
/servercopy/.DS_Store
/clientcopy/.DS_Store
/server/node_modules
/servercopy/node_modules
/client/node_modules
